{% include 'header.html' %}
{% include 'nav.html' %}
<div class="container table-container">         
  <table class="table table-hover">
    <thead>
      <tr>
        <th>My Account</th>
        <th>Account Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Usrname</td>
        <td>Name</td>
      </tr>
      <tr>
        <td>Sponsor Username</td>
        <td>Name</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>Email Name</td>
      </tr>
        <tr>
        <td>Affiliated Link</td>
        <td>Link</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container table-deposit">         
  <table class="table table-hover">
    <thead>
      <tr>
        <th>My Account</th>
        <th>Account Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Usrname</td>
        <td>Name</td>
      </tr>
      <tr>
        <td>Sponsor Username</td>
        <td>Name</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>Email Name</td>
      </tr>
        <tr>
        <td>Affiliated Link</td>
        <td>Link</td>
      </tr>
    </tbody>
  </table>
</div>
{% include 'footer.html' %}